[submodule "packages/signals"]
	path = packages/signals
	url = https://github.com/rodydavis/signals.dart
[submodule "packages/open_xml"]
	path = packages/open_xml
	url = https://github.com/rodydavis/open_xml
