name: app_review_example
description: Demonstrates how to use the app_review plugin.


version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8


  app_review:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
