import 'package:flutter/material.dart';
import 'package:{{{name}}}/ui/home/screen.dart' as ng;

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: '{{name}}',
      theme: ThemeData.light(),
      darkTheme: ThemeData.dark(),
      home: ng.HomeScreen(),
    );
  }
}
